<div class="container header-with-search">
    <nav class="navbar navbar-wrapper">
        <component_navbarlink1></component_navbarlink1>
        <component_navbarlink2></component_navbarlink2>
    </nav>
    <div class="flex search-wrapper">
        <a class="logo" href="/"><component_shopyylogo></component_shopyylogo></a>
        <div class="searchbar-wrapper">
            <component_searchbar></component_searchbar>
        </div>
        <div class="shopping-cart">
            <a href><ico_shoppingcart></ico_shoppingcart></a>
        </div>
    </div>
</div>
