<div class="container header-with-search">
    <nav class="navbar navbar-wrapper">
        <component-navbar-link-1></component-navbar-link-1>
        <component-navbar-link-2></component-navbar-link-2>
    </nav>
    <div class="flex search-wrapper">
        <a class="logo" href="/"><component-shopyy-logo></component-shopyy-logo></a>
        <div class="searchbar-wrapper">
            <component-searchbar></component-searchbar>
        </div>
        <div class="shopping-cart">
            <a href><icon-shopping-cart></icon-shopping-cart></a>
        </div>
    </div>
</div>
