<div class="header-with-search-layout container">
    <nav class="navbar navbar-wrapper">
        <navbar-link-1-component></navbar-link-1-component>
        <navbar-link-2-component></navbar-link-2-component>
    </nav>
    <div class="flex search-wrapper">
        <a class="logo"
            href="/"><shopyy-brand-logo></shopyy-brand-logo></a>
        <div class="searchbar-wrapper">
            <searchbar-component></searchbar-component>
        </div>
        <div class="shopping-cart">
            <a href><shoppingcart-ico></shoppingcart-ico></a>
        </div>
    </div>
</div>
