.home-banner {
    height: 353px;
    display: flex;
    flex-flow: column;
    width: inherit;
    padding-top: 30px;

    .banner-wrapper {
        flex: 0 1 auto;
        display: flex;
        flex-flow: row;

        .carousel-wrapper {
            width: 100%;
            height: inherit;
            flex: 0 1 auto;
            border-radius: 2px;
            background-color: #79182d;
            margin-bottom: 4px;
        }

        .hotdeals-wrapper {
            width: 395px;
            height: inherit;
            flex: 1 0 auto;
            margin-left: 4px;
            margin-bottom: 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;

            * {
                border-radius: 2px;
                box-shadow: 0 .1px .7px 0 #9c9c9c;
            }

            *:not(:first-child) {
                margin-top: 4px;
            }
        }
    }

    .distinction-wrapper {
        height: 100px;
        flex: 1 0 auto;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
}