<div class="home-banner">
    <div class="banner-wrapper">
        <div class="carousel-wrapper"></div>
        <div class="hotdeals-wrapper">
            <component_hotdeal
                *ngFor="let hotdeal of Hotdeal"
                [hotdeal]="hotdeal">
            </component_hotdeal>
        </div>
    </div>
    <div class="distinction-wrapper">
        <component_distinction
            *ngFor="let distinction of Distinctions"
            [distinction]="distinction">
        </component_distinction>
    </div>
</div>