<div class="home-banner-layout">
    <div class="banner-wrapper">
        <div class="carousel-component-wrapper">
            <carousel-component></carousel-component>
        </div>
        <div class="hotdeal-component-wrapper">
            <hotdeal-component
                *ngFor="let hotdeal of Hotdeal"
                [hotdeal]="hotdeal">
            </hotdeal-component>
        </div>
    </div>
    <div class="distinction-component-wrapper">
        <distinction-component
            *ngFor="let distinction of Distinctions"
            [distinction]="distinction">
        </distinction-component>
    </div>
</div>