.download-qr-code > img {
    width: 180px;
    height: 180px;
    border-radius: 3px;
}

.download-logo {
    width: 4.375rem;
    display: inline;
    padding: 3px;
}

.download-logo img {
    width: 100%;
}

.padding-lr {
    padding-left: 8px;
    padding-right: 8px;
}