:host {
    --border-box: 2px;
    --v-padding: 8px;
    --image-size: 180px:
}

.download-qr-code-component {
    background-color: #fff;
    border-radius: var(--border-box);

    >img {
        width: var(--image-size);
        height: var(--image-size);
        border-radius: var(--border-box);
    }

    >div {
        padding-left: var(--v-padding);
        padding-right: var(--v-padding);
    }
}

.download-logo {
    width: 4.375rem;
    display: inline;
    padding: 3px;

    >img {
        width: 100%;
    }
}
