:host {
    --download-border-qr: 3px;
}

.download-qr-code {
    background-color: #fff;
    border-radius: var(--download-border-qr);
    >img {
        width: 180px;
        height: 180px;
        border-radius: var(--download-border-qr);
    }
}

.download-logo {
    width: 4.375rem;
    display: inline;
    padding: 3px;
}

.download-logo img {
    width: 100%;
}

.padding-lr {
    padding-left: 8px;
    padding-right: 8px;
}