<div class="download-qr-code-component">
    <img alt="download_qr_code"
        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/d91264e165ed6facc6178994d5afae79.png">
    <div class="flex space-between padding-lr">
        <div class="download-logo">
            <img alt="App Store"
                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/39f189e19764dab688d3850742f13718.png">
        </div>
        <div class="download-logo">
            <img alt="Play Store"
                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f4f5426ce757aea491dce94201560583.png">
        </div>
    </div>
    <div class="flex space-between padding-lr">
        <div class="download-logo">
            <img alt="App Gallery"
                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/1ae215920a31f2fc75b00d4ee9ae8551.png">
        </div>
    </div>
</div>