.voucher-ticket-logo {
    color: #fff;
    display: flex;

    >span {
        padding-top: 3px;
        font-size: .7rem;
        background-color: rgb(246, 145, 19);
    }
}

svg {
    width: 4px;
    fill: none;

    >path {
        fill: rgb(246, 145, 19);
        stroke: rgb(246, 145, 19);
    }
}