<div class="item-component">
    <a href>
        <div class="item-mapping">
            <div class="mapping-image">
                <img alt
                    src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lpj8no3rw3e767_tn">
                <img alt
                    src="https://down-vn.img.susercontent.com/file/vn-50009109-613faacb73360f715cbfc7d49fd2d801">
                <div class="mapping-discount">
                    <span>-500%</span>
                </div>
                <div class="mapping-flag">
                    <div class="liked-flag" hidden
                        style="background-image: url(https://down-vn.img.susercontent.com/file/76c36bd87ff2eb5887d9ad3516111869);"></div>
                    <div class="mall-flag"
                        style="background-image: url(https://down-vn.img.susercontent.com/file/56a4f5097228286786f83f8036c313bc);"></div>
                </div>
            </div>
            <div class="mapping-product">
                <div>
                    <div class="product-text">
                        <p>
                            SEVEN dép lông đi trong nhà đế cao Tiện dụng Hiện
                            đại Tinh tế Màu sắc đa dạng FMR23C0GQM 51Z231223
                        </p>
                    </div>
                    <div class="product-promotion">
                        <voucher-ticket-logo
                            [voucherValue]="'Giảm ₫10k'">
                        </voucher-ticket-logo>
                        <span>Flash Sale</span>
                        <span>haha</span>
                    </div>
                    <div class="product-price">
                        <div class="flex">
                            <span class="currency">đ</span>
                            <span style="font-size: 1.125rem;">20.000</span>
                        </div>
                        <span>Đã bán 1,3k</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>