.searchbar {
    width: 100%;
}

.searchbar>form {
    background-color: #fff;
    border-radius: 3px;
    padding: 3px;

    >input {
        width: 100%;
        border-style: hidden;
        outline-style: none;
        padding-left: 10px;
    }

    >button {
        border-style: none;
        margin-left: 3px;
        width: 65px;
        height: 35px;
        background: #fb5533;
        color: #fff;
        border-radius: 3px;
    }
}

.searchbar--button {
    padding-top: 4px;
    width: 14px;
    margin: auto;
}

.search-keyword {
    padding-top: 6px;
    height: 1rem;
    flex-wrap: wrap;
    overflow-y: clip;

    >a {
        height: inherit;
        text-align: center;
        font-size: .75rem;
    }
}

a.search-keyword-links:not(:first-child) {
    margin-left: 15px;
}