<div class="searchbar-component">
    <form role="search" class="flex">
        <input type="text" placeholder={{searchPlaceHoder}}
            (focus)="showListBox(true)" (focusout)="showListBox(false)">
        <button type="button">
            <section class="searchbar--button">
                <search-ico></search-ico>
            </section>
        </button>
    </form>
    <div *ngIf="!isHidden" class="searchbar-popover">
        <a href class>
            <span>{{searchPlaceHoder}}</span>
            <img height="24"
                src="https://down-vn.img.susercontent.com/file/29218d6681841ae13f18a6be04f6a57b">
        </a>
    </div>
    <div class="flex search-keyword">
        <a *ngFor="let item of searchKeyWords"
            class="search-keyword-links" href="/search?keyword={{item}}">
            {{ item }}
        </a>
    </div>
</div>