<div class="flex navbar-link-2-component">
    <ul>
        <li class="navbar-links">
            <div class="flex">
                <notify-ico></notify-ico>
                <a class="margin-lr-2" href>Thông báo</a>
            </div>
        </li>
        <li class="navbar-links">
            <div class="flex">
                <support-ico></support-ico>
                <a class="margin-lr-2" href>Hỗ trợ</a>
            </div>
        </li>
        <li class="navbar-links">
            <div class="flex">
                <language-ico></language-ico>
                <a class="margin-lr-2" href>Tiếng Việt</a>
                <svg height="12" width="12" viewBox="0 .05 12 12"
                    fill="currentColor" style="margin-top: 2px;">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M6 8.146L11.146 3l.707.707-5.146 5.147a1 1 0 01-1.414 0L.146 3.707.854 3 6 8.146z">
                    </path>
                </svg>
            </div>
        </li>
    </ul>
    <div><a href>Đăng kí</a><a href>Đăng nhập</a></div>
</div>