.v-adjust {
    font-size: .8125rem;
    padding: 2px;
}

.v-adjust:not(:first-child) {
    margin-left: .5rem;
    position: relative;
}

.v-adjust:not(:first-child)::before {
    content: "";
    height: 1rem;
    border-left: 1px solid hsla(0, 0%, 100%, .22);
    border-right: 1px solid hsla(0, 0%, 100%, .22);
    position: absolute;
    left: -4px;
}

a.v-adjust:hover {
    color: var(--text-primary-hover);
}

.navbar-links {
    padding-left: 5px;
    padding-right: 5px;
}

ul>li {
    list-style: none;
}

li.navbar-links>div>a:hover {
    color: var(--text-primary-hover) !important;
}