.navbar-link-2-component {
    >ul {
        list-style: none;
        display: flex;
        font-size: .8125rem;
        padding: 2px;
        margin: auto;
    }

    >div {
        margin: auto;

        >a {
            margin-left: 6px;
            font-size: .8125rem;
            padding: 2px;
        }

        >a:not(:first-child) {
            margin-left: 6px;
        }

        >a:not(:first-child)::before {
            content: "";
            height: 1rem;
            border-left: 1px solid hsla(0, 0%, 100%, .22);
            border-right: 1px solid hsla(0, 0%, 100%, .22);
            position: absolute;
            left: -4px;
        }
    }

    a:hover {
        color: var(--text-primary-hover);
    }

    a:not(:first-child) {
        position: relative;
    }
}

.navbar-links {
    padding-left: 3px;
    padding-right: 3px;

    >div {
        align-items: center;
    }
}

li.navbar-links:hover * {
    color: var(--text-primary-hover);

    >svg {
        fill: currentColor;
    }
}