<div class="container">
    <section>
        <nav class="navbar navbar-wrapper">
            <element-navbar-link-1></element-navbar-link-1>
            <element-navbar-link-2></element-navbar-link-2>
        </nav>
        <div class="flex search-wapper">
            <a class="logo" href="/"><element-shopyy-logo></element-shopyy-logo></a>
            <div>
                <element-searchbar></element-searchbar>
                <element-hot-deals></element-hot-deals>
            </div>
            <div style="width: 80px;"></div>
        </div>
    </section>
</div>
