.navbar-link-1-component>* {
    font-size: .8125rem;
    padding: 2px;
}

.navbar-link-1-component>*:not(:first-child) {
    margin-left: .5rem;
    position: relative;
}

.navbar-link-1-component>*:not(:first-child)::before {
    content: "";
    height: 1rem;
    border-left: 1px solid hsla(0, 0%, 100%, .22);
    border-right: 1px solid hsla(0, 0%, 100%, .22);
    position: absolute;
    left: -4px;
}

.navbar-link-1-component a:hover {
    color: var(--text-primary-hover);
}

.download {
    border-radius: 3px;
    position: absolute;
    left: -4px;
    padding-top: 25px;
}

.social-icons {
    background-image: url('/assets/social-icons.png');
}

.facebook-icon {
    width: 16px;
    height: 16px;
    background-size: 487.5% 293.75%;
    background-position: 8.064516129032258% 16.129032258064516%;
}

.instagram-icon {
    width: 16px;
    height: 16px;
    background-size: 487.5% 293.75%;
    background-position: 58.064516129032256% 16.129032258064516%;
}