<section class="home-page">
    <header class="header-top header-top--sticky">
        <layout_headerwithsearch></layout_headerwithsearch>
    </header>
    <section class="home-banner-wrapper">
        <div class="container">
            <layout_homebanner></layout_homebanner>
        </div>
    </section>
    <section class="container home-main-wrapper">
        <div class="home-category-wrapper">
        </div>
    </section>
    <section class="home-footer-wrapper" style="width: 100%; height: 100px;background-color: burlywood;"></section>
</section>