.home-page {
    min-width: 1230px;
    background-color: #f5f5f5;
    margin-bottom: 70px;
}

.header-top {
    background: linear-gradient(-180deg, #f53d2d, #f63);
    color: #fff;
    height: 120px;
}

.header-top--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.home-banner-wrapper {
    padding-top: 120px;
    width: 100%;
    background-color: #fff;
    box-shadow: .1px .1px 2px #9c9c9c;
}