.header-top {
    background: linear-gradient(-180deg,#f53d2d,#f63);
    color: #fff;
}

.header-top a {
    color: var(--text-primary);
}

.header-top--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
