.home-page {
    min-width: 1200px;
}

.header-top {
    background: linear-gradient(-180deg, #f53d2d, #f63);
    color: #fff;
    height: 120px;
}

.header-top--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.home-banner {
    padding-top: 120px;
    height: 5000px;
    background-color: aquamarine;
}